name: deploy
on:
  push:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - "release"
  workflow_dispatch:
    inputs:
      dex-app:
        description: The ID of the dex app
        required: false
        default: ''
        type: choice
        options:
          - ''
          - firmware-update-lambda
          - create-release-lambda

jobs:
  setup-workspace:
    name: setting up workspace
    needs: detect-label
    runs-on: ubuntu-latest
    steps:
      - name: sey hello
        run: echo "Hola mundo!"

  build-firmware-update-lambda:
    name: build firmware update lambda
    if: |
      github.event.inputs.dex-app == 'firmware-update-lambda' || github.event.inputs.dex-app == ''
    runs-on: ubuntu-latest
    needs: setup-workspace
    steps:
      - name: Get PR labels
        id: pr-labels
        uses: irby/get-labels-on-push@v1
      - name: deploying firmware update lambda
        run: echo "Deploy firware update lambda"
        if: steps.pr-labels.outputs.labels == '[]' || contains(steps.pr-labels.outputs.labels, 'build:firmware-update-lambda')
    
  build-create-release-lambda:
    name: create release lambda
    if: |
      github.event.inputs.dex-app == 'create-release-lambda' || github.event.inputs.dex-app == ''
    runs-on: ubuntu-latest
    needs: setup-workspace
    steps:
      - name: Get PR labels
        id: pr-labels
        uses: irby/get-labels-on-push@v1
      - name: Creating release
        run: echo "Creating release"
        if: steps.pr-labels.outputs.labels == '[]' || contains(steps.pr-labels.outputs.labels, 'build:create-release-lambda')
    
